  {% extends "base.html" %}
  {% block content %}

  	<link rel="stylesheet" type="text/css" href="/stylesheets/chat.css">

      <div id="home">
        <div class="overlay">
            <div class="container">
                <div class="row scroll-me" >
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <h1 class="groupchat-title">Tcheza: GroupChat </h1>
                    <h4>
                        Consectetur adipiscing elit felis dolor felis dolor vitae.
                        Eelit felis dolor vitae  adipiscing elit felis dolor felis dolor vitae.
                        Eelit felis dolor vitae

                    </h4>
                    <a href="#about" class="btn btn-custom btn-two" >Explore Template</a>
                    <a href="#email-subscribe" class="btn btn-custom btn-one" >Subscribe Right Now </a>
                </div>
                </div>
              
                
            </div>
        </div>

    </div>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="javascripts/chat.js"></script>


{% endblock %}

